node_modules/
.cache/
#public   # For now we ignore public to be able to deploy html with no buid step
.DS_Store
.idea/

# Yarn specific
# not using "zero installs"
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
tailwindcss-linux-x64
